{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Інформація про мене{% endblock %}

{% block content %}
    <div class="features">
        <img src="{% static 'main/img/author_photo.jpeg' %}" alt="Фото автора">
        <h2>Ющенко Андрій</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam aut doloribus eos est et ex, excepturi explicabo facilis fuga ipsum, minus non nulla omnis provident quidem quod ratione recusandae repellendus rerum sequi soluta voluptatum? Earum modi, sed? Animi aperiam architecto at, delectus error expedita facilis nisi optio ratione? Asperiores delectus distinctio eius labore molestias provident quidem quod sit tempore vitae? Accusantium doloribus esse nulla quidem voluptatem! Iure, nulla sequi. Consectetur cum est fugiat, mollitia pariatur quas quia sed veritatis vitae. Adipisci alias amet, aperiam assumenda, delectus dolorum eum facilis illo, inventore nostrum numquam omnis quisquam quod recusandae totam ut.</p>
    </div>
{% endblock %}
